<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="GlassDemo.Project.Demo.GlassDemoConfigurator, GlassDemo.Project.Demo"/>
      <configurator type="GlassDemo.Project.Demo.GlassMapperConfigurator, GlassDemo.Project.Demo"/>
    </services>
  </sitecore>
</configuration>