@using Glass.Mapper.Sc.Web.Mvc
@model GlassDemo.Project.Demo.Models.DemoArticle
DemoNoGlassArticle Component
<div>
	<h4>@Model.Header</h4>
	<div>
		<p>@Model.Body</p>
        <p>@Model.Image</p>

	</div>
</div>
