@using Glass.Mapper.Sc.Web.Mvc
@model GlassDemo.Project.Demo.Models.DemoArticle
DemoArticle Component
<div>
	<h4>@Html.Glass().Editable(x => x.Header)</h4>
	<div>
		<p>@Html.Glass().Editable(x => x.Body)</p>
        <p>@Html.Glass().RenderImage(x=>x.Image, isEditable:true)</p>
        <p>@Html.Glass().Editable(x=>x.Date)</p>
	</div>
</div>
