@using Glass.Mapper.Sc.Web.Mvc
@model GlassDemo.Project.Demo.Models.DemoArticleNoGlass
DemoNoGlassArticle Component
<div>
	<h4>@Model.Header</h4>
	<div>
		<p>@Model.Body</p>
        @Model.Image
        <p>@Model.Date</p>
	</div>
</div>
